
  H1 {font-size: 72px;
  font-family: "Arial";
  color: rgb(208, 203, 219);
  font-weight: bold;
  
  text-align: center;}
 
 H3 {font-size: 26px;
  font-family: "Arial";
  color: rgb(208, 203, 219);
  font-weight: bold;
  
  text-align: center;}
 
 H4 {font-size: 22px;
  font-family: "Arial";
  color: rgb(208, 203, 219);
  font-weight: bold;
  
  text-align: center;}
  
P{font-size: 18px;
  font-family: "Arial";
  color: rgb(208, 203, 219);
  font-weight: bold;
  
  text-align: center;
  }



 #menu {font-size: 20px;
  font-family: "Arial";
  color: rgb(208, 203, 219);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  float: left;
  list-style-type: none;
  background-color:#550ae0;
  height: 100%;
  }

 #current  {
 list-style-type: none;
 height: 300%;
 
 
 }
a.nav:link {
  color: rgb(208, 203, 219);
  background-color: transparent;
  text-decoration: none;
  list-style-type: none
}
a.nav:visited {
  color: rgb(208, 203, 219);
  background-color: transparent;
  text-decoration: none;
  list-style-type: none
}
a.nav:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a.nav:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}


a:link {
  color: rgb(208, 201, 217); 
  background-color: transparent;
  text-decoration: none;
  list-style-type: none
}
a:visited {
  color: rgb(208, 203, 219);
  background-color: transparent;
  text-decoration: none;
  list-style-type: none
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

#homeknop {width:200px;
}

#foto {width:30%;
       Float:right
      }
